@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #FFE202;
  --color-secondary: #FFF200;
  --color-neutral-100: #F4F4F4;
  --color-neutral-200: #F9F9F9;


  --color-accent: #F1EFEF;
  --color-accent-2: #F8F8F8;


  --color-gray-100: #8F8F8F;
  

  --color-black-200: #26262A;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-family-anek: "Anek Bangla", sans-serif;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-anek);
}

.container {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 64px;
  }
}

